// Google Fonts
$logo-font-family: 'Dhurjati', sans-serif;
$general-font-family: 'PT Sans Narrow', sans-serif;

// Colors
$primary-color: #58bfbb;
$darker-primary-color: #3d8582;

$lg-phone-breakpoint: 500px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1100px;
